*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header{
  
    position:relative;
    top:0px;
    height:60px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
   
}
.header::before{
    content:"";
    background-color:white;
    position: absolute;
    width:100%;
    height:100%;
    z-index: -2;
   opacity:.6;
    top:0px;
    left:0px;

}
.header a{
    position:absolute;
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:130%;
    padding:20px;
}
.header a:hover{
background-color: grey;
opacity:0.4;

}
.image{
    display:flex;
    justify-content:center;
    align-items: center;
}
.image::before{
    content:"";
    background-image:url('1.jpg') ;
    width:100%;
    height:100%;
    z-index:-2;
    position:absolute;
    top:0px;
    left:0px;
    background-repeat: no-repeat;
    }
    .arc{
        position:relative;
        top:130px;
        color:white;
        padding:30px;
        text-align:center;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .arc::before{
        content:"";
        background-color: black;
        opacity:0.4;
        width:100%;
        height:100%;
        position:absolute;
        z-index:-1;
    }
    .projects{
        position:relative;
        top:230px;
        margin:20px;
        padding-bottom:100px;
    }
    .new1{
        background-color: grey;
        opacity:0.3;
        margin-bottom:20px;
        }
        .con1{
            display:flex;
            
        }
        .summary {
          
            background-image: url('pexels-snapwire-691452 (1).jpg');
            width:100%;
            height:400px;
            background-repeat: no-repeat;
            margin-bottom: 20px;
        }
    .arc1{
        display:inline-block;
        width:auto;
        height:auto;
        padding-top:10px;
        padding-bottom:10px;
        background-color:black;
        color:white;
    }
    .summary1 {
          
        background-image: url('5.jpeg');
        width:100%;
        height:400px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
  
    .summary2 {
          
        background-image: url('pexels-pixabay-267501.jpg');
        width:100%;
        height:400px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    .summary3 {
          
        background-image: url('6.jpg');
        width:100%;
        height:400px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    .summary4 {
          
        background-image: url('7.jpg');
        width:100%;
        height:400px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    .about{
        position:relative;
      top:150px;
      margin:20px;
      padding-bottom:50px;
    }
    .aboutp{
        font-weight:bold;
        line-height:110%;
        padding-bottom:30px;
        word-spacing: 5px;
    }
    .container{
        margin:0px;
        padding:0px;
        display:flex;
        flex-wrap: wrap;
        position:relative;
    }
    .i-1{
        margin:0px;
        padding:0px;
        width:100%;
        margin-bottom:20px;
    }
    .i-1 .i-2{
        margin:0px;
        padding:0px;
       
        line-height: 150%;
       
    }
    .i-2 p{
      font-weight: bold;
      margin-bottom:20px;
    }
    img{
        margin-bottom:10px;
        padding:0px;
    }
    .i-3{
        width:100%;
        height:auto;
    }
    .i-1 h3,h4{
        color:grey;
        margin-bottom:10px;
    }
    .i-1 a{
        text-align: center;
        text-decoration:none;
        color:black;
        border:1px solid grey;
        display:block;
        width:100%;
        padding-1opx;
        background-color: #f1f1f1;
        font-weight:bold;
    }
    .i-1 a:hover{
        background-color: grey;
        opacity:0.5;
    }
    .contact{
        position:relative;
        top:150px;
        margin:20px
    }
    .contact h3{

        font-size:160%;
    }
    .contact p{
        font-weight:bold;
        margin-bottom:10px;
        font-size:110%;
    }
    .contact input{
        width:100%;
        background-color:white;
        border: 1px solid #ccc;
        padding:10px 0px;
        margin-bottom:10px;
    }
    .contact button{
        background-color:black;
        color:white;
        padding:10px;
        border:none;
    }
    .contact button:hover{
        border:1px solid red;
    }
    .nothing{
        position:relative;
        
        top:200px;
       
        margin:20px;
       
    }
    .nothing1{
        background-image:url('pexels-photo-417430.jpeg');
       
        
        width:100%;
        height:400px;
       
        background-repeat: no-repeat;
    }
    .footer{
        position:relative;
        top:175px;
        background-color: black;
        color:white;
        word-spacing: 5px;
        margin:20px;
        padding:10px;
    }
    .footer a{
        color:grey;
        text-decoration: none;
    }
