.con1{
    grid-template-columns:auto auto ;
    column-gap:20px;
}
.i-1{
    margin:0px;
    padding:20px;
    width:50%;
    margin-bottom:20px;
}
.i-3{
    width:100%;
    height:200px;
}

.image::before{
    content:"";
    background-image:url('pexels-juhasz-imre-425047.jpg') ;
    width:100%;
    height:400px;
    z-index:-2;
    position:absolute;
    top:0px;
    left:0px;
    background-repeat: no-repeat;
    }